<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="https://openbox.org/"
 xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://openbox.org/">
    <menu id="root-menu" label="Openbox">
		    <seperator label="Menu"/>
		    <item label="Run command">
				    <action name="Execute">
						    <command>rofi -show run</command>
				    </action>
		    </item>
		    <seperator/>
		    <item label="Terminal">
		            <action name="Execute">
						    <command>urxvt</command>
				    </action>
			</item>
		    <seperator />
		    <menu id="preferences" label="Preferences">
		<menu id="openbox" label="Openbox">
			<item label="Edit rc.xml">
				<action name="Execute">
						<command>gedit ~/.config/openbox/rc.xml</command>
				</action>
			</item>
			<item label="Edit menu.xml">
				<action name="Execute">
					<command>gedit ~/.config/openbox/menu.xml</command>
				</action>
			</item>
			<item label="Edit autostart">
				<action name="Execute">
					<command>gedit ~/.config/openbox/autostart</command>
				</action>
			</item>
			<item label="Openbox config">
				<action name="Execute">
					<command>obconf</command>
				</action>
			</item>
			<item label="Restart Openbox">
				<action name="Execute">
					<command>openbox --restart</command>
				</action>
			</item>
			<item label="Exit Openbox">
				<action name="Execute">
					<command>openbox --exit</command>
				</action>
			</item>
			<item label="Reconfigure Openbox">
				<action name="Execute">
					<command>openbox --reconfigure</command>
				</action>
			</item>	
	</menu>
</menu>

</openbox_menu>
